.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_main.bbl
_main.blg
_main.run.xml
_todo.md
_bookdown_files
/*.html
/*.pdf
.Rproj.user
.Rhistory
_cache
temp.Rmd
rsconnect
www
_main.rds
_main.adx
_main.log
_main.aux
_main.idx
_main.out
_main.toc
downloadFigs4latex__main/
